@defaultWidth: 90%;

.login-contaner {
  // width: 100%;
  width: 375px;
  background-size: 100% 228px;;
  .ipt-con {
    margin: auto;
    width: 100%;
    margin-top: 2 0px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .code-input {
      width: @defaultWidth;
      text-align: center;
    }
    .email-input {
      width: @defaultWidth;
      text-align: center;
    }
  }
  .login-btn {
    width: @defaultWidth + 4;
    margin: 20px auto;
  }
}